html{
  font-family: 'Tangerine';
  text-align: center
}
body {
  background-color: #CD2626;
  margin: 0px;
}
tr {
  display: flex;
  align-items: center;
}
.header{
  background-color: #ff7c7c;
  font-size: 30px;
  color: #CD2626;
  padding: 10px 0;
}
.header h1 {
  font-size: 60px;
  display: inline;
  margin: 0 10px 0 5px;
}
.fas {
  color: #fff;
  margin-left: 5px;
  padding: auto 0;
}
.title-row {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 390px;
  background-color: rgba(255, 205, 205, 0.6);
  padding: 50px;
  margin: 30px auto 21px auto;

}
.instructions-title {
  display: inline;
  font-family: 'Tangerine', cursive;
  text-decoration: underline;
  font-size: 40px;
  color: #fff; 
}
.instructions-row {
  margin: 0 auto;
  width: 400px;
}
.instructions-number {
  padding: 0 25px;
  font-size: 36px;
  font-family: serif;
  color: #fff;
  vertical-align: baseline;
}
.instructions-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.door-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.door-frame {
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  height: 227px;
  width: 120px;
}
.start-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 21px auto;
  width: 120px;
  height: 43px;
  background-color: #ffcdcd;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fff;
}
button {
  display: flex;
  background-color: transparent;
  border: 1px solid #CD2626 ;
}
button img {
  width: 100%;
  height: 100%;
}

@media (max-width: 430px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-row {
    margin: 5rem 2rem 21px 2rem;

  }
  .instructions-title {
    font-size: 5rem;
  }

  .instructions-text {
    font-size: 40px;
  }

  .door-row {
    margin-top: 10rem;
  }

  .door-frame {
    height: 20rem;
  }

  .start-row {
    height: 6rem;
    width: 14rem;
  }

}