html{
  font-family: 'Creepster';
  text-align: center
}
body {
  background-image: linear-gradient(grey, black);
  margin: 0px;
}
tr {
  display: flex;
  align-items: center;
  margin: 30px 0px
}
.header{
  background-color: darkorange;
  font-size: 50px;
  color: #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1 {
  font-size: 100px;
  display: inline;
  margin: 0 10px 0 5px;
}
.fas {
  color: FFF;
  margin-right: 5px;
  padding: auto 0;
}

.gameovericon {
  color:#000;
}

.title-row {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 5px;
  border: double 10px darkslategray;
  background-color: rgb(112, 128, 144);
  padding: 1rem 3rem;
  margin: 3rem 3rem;
  box-shadow: 0px 7px 27px black;
  
}

.instructions-title {
  display: inline;
  font-family: 'Creepster', cursive;
  text-decoration: underline;
  font-size: 40px;
  color: darkslategray;
}

.instructions-row {
  display: flex;
}

.instructions-number {
  padding-right: 50px;
  font-size: 16px;
  font-family: serif;
  vertical-align: baseline;
  color: darkslategray

}

.instructions-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  padding: 5px;
  font-size: 40px;
  color: darkslategray;
}

.door-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.door-frame {
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  height: 360px;
  width: 230px;
}
.start-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto 21px auto;
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: darkorange;
  font-family: 'creepster';
  font-weight: 300;
  font-size: 40px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 4px 10px whitesmoke
}

.start-row:active {
  box-shadow: none;
}

button {
  display: flex;
  background-color: transparent;
}

button img {
  width: 100%;
  height: 100%;
}

@media (max-width: 430px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-row {
    margin: 5rem 2rem 21px 2rem;

  }
  .instructions-title {
    font-size: 5rem;
  }

  .instructions-text {
    font-size: 40px;
  }

  .door-row {
    margin-top: 10rem;
  }

  .door-frame {
    height: 20rem;
  }

  .start-row {
    height: 6rem;
    width: 14rem;
  }

}