html{
  font-family: 'Creepster';
  text-align: center
}
body {
  background-image: linear-gradient(grey, black);
  height: 100%;
  display: flex column;
  align-items: center;
}

tr {
  display: flex;
  align-items: center;
  margin: 30px 0px
}
.header{
  background-color: darkorange;
  font-size: 50px;
  color: #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1 {
  font-size: 100px;
  display: inline;
  margin: 0 10px 0 5px;
}
.fas {
  color: FFF;
  margin-right: 5px;
  padding: auto 0;
}

.gameovericon {
  color:#000;
}

.title-row {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: double 10px darkslategray;
  background-color: rgb(112, 128, 144);
  padding: 1rem 3rem;
  margin: 3rem 3rem;
  box-shadow: 0px 7px 27px black;
  
}

.instructions-title {
  display: inline;
  font-family: 'Creepster', cursive;
  text-decoration: underline;
  font-size: 40px;
  color: darkslategray;
}

.instructions-row {
  display: flex;
}

.instructions-number {
  padding-right: 50px;
  font-size: 16px;
  font-family: serif;
  vertical-align: baseline;
  color: darkslategray

}

.instructions-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 5px;
  font-size: 40px;
  color: darkslategray;
}

.content-container {
  max-width: 1000px;
  display: flex column;
  justify-content: center;
  margin: auto auto;
}

.door-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
}

.door-frame {
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  height: 420px;
  width: 230px;
}
.start-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto 21px auto;
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: darkorange;
  font-family: 'creepster';
  font-weight: 300;
  font-size: 40px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 4px 10px whitesmoke
}

.start-row:active {
  box-shadow: none;
}

button {
  display: flex;
  background-color: transparent;
}

button img {
  width: 100%;
  height: 100%;
}

#showButton {
  display: none;
  margin: 20px auto;
  color: darkslategray;
  font-family: "Creepster";
  border-radius: 5px;
  border: double 10px darkslategray;
  background-color: rgb(112, 128, 144);
  padding: 10px;
  font-size: 40px;
}

#showButton:hover {
  background-color: rgb(80, 92, 104);;
}

/*@media screen and (max-width: 420px) {
  .instructions-text {
    font-size: 20px;
  }

  tr {
    margin: 10px;
  }

  .content-container {
    margin-top: 500px
  }
}
  */